page-login {
    
    $blue-color: #084887;
    $lightblue-color: #0565c0;

    .main .scroll-content{
        overflow: hidden;
    }
    
    .main{
        background-color: $blue-color;
    }

    .imgcont{
        height: 30vh;
        width: 100%;

      .logo{
          display: block;
          height: 30vh;
          margin: auto;
          width: 30vh;
      }
    }
    
    .field_login{
        margin: 0vh 10vh;
        text-align: center;
        text-decoration-color:$blue-color;
        #item{
            background-color:white;
            border-radius: 5px;
            border-color: black;
            max-height: 2vh;
        }
        
        #item2{
            background-color: white;
            border-color: black;
            border-radius: 5px;
            margin-top: 1.5vh;
            max-height: 2vh;
        }

    }

    .input{
        background-color: transparent;
    }
    
    .div-btn{
        margin-left: 10vh;
        margin-right: 10vh;
        margin-top: 5vh;
        text-align: center;
        top: 30%;

        #login-btn{
            background-color: $blue-color;
            border: 1px groove $lightblue-color;
            border-radius: 6px;
            padding: 2vh 14vh;
        }
    }

    .remenber{
        font-size: 14px;
        margin-left: 21vh;
    }

    .registercont{
        height: 20vh;

        #signup-btn{
            background-color: $blue-color;
            border: 1px groove $lightblue-color;
            border-radius: 6px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5vh;
            padding: 0vh 1.75vh;
        }
    }

    .remenber_pass{
        color: white;
        margin-left: 24vh;
    }
}
