page-login {
    .login-box{
        background-color: #E3ECF5;
    }
    .credential-box{
        background-color: transparent;
        position: absolute;
        top: 6%;
    }
    .item{
        background-color: transparent;
    }
    .input{
        background-color: transparent;
    }
    .div-btn{
        position: absolute;
        text-align: center;
        top: 29%;
        left: 35%;

        #login-btn{
            background-color: #FF4605;
        }
        #register-btn{
            background-color:#0D68A3;
        }
    }

}
