<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Atividades da Semana</ion-title>
  </ion-navbar>
</ion-header>

<!--<ion-content padding>
  <ion-list>
    <h2>Inscrito</h2>
    <ion-item *ngFor="let activity of activities">
      <div class="box-activity">
        <ion-img class="logo"></ion-img>
        <h3 class="activity-title">{{activity.title}}</h3>
        <button ion-button block>Participar</button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>-->

<ion-content padding>
<ion-list>
<ion-card class="card" *ngFor="let activity of activities">
    <ion-card-content class="card-content">
      <h2 class="activity-title">{{activity.title}}</h2>
    </ion-card-content>

    <div class="button-participate">
      <button ion-button full default>
        Participar
      </button>
    </div>
</ion-card>
</ion-list>
</ion-content>
