page-activities-list {

}

.card{
  width: auto;
  margin-left: 2px;
  margin-right: 2px;
  height: 35vh;
}

.card-content{
  width: auto;
  margin: 0px;
  border: 0px;
  padding: 0px;
  height: 28vh;
  background-image: url("https://t1.uc.ltmcdn.com/pt/images/1/7/1/img_como_colocar_fundo_preto_nas_fotos_16171_orig.jpg");

}

.activity-title{
  color: black;
  position: relative;
  top: 21vh;
}


.button-participate{
  height: 7vh;
}

.button-ios{
  background-color: #FF4605;
  color: white;
}

.button{
  text-align: left;
}
