page-activities-list {

  ion-card {
    position: relative;
    text-align: center;
    height: 35vh;
    width: 100%;
  }

  ion-segment-button {
    margin-bottom: 0.5vh;
  }

  ion-item-sliding {
    position: relative;
  }
  
  ion-item {
    position: relative;
  }

  .image {
    height: 100%;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}