page-register {
  $blue-color: #084887;
  $lightblue-color: #0565c0;
  $black-color: #000000;

  .scroll-content {
    overflow: hidden;
  }

  .register-box {
    background-color: $blue-color;
  }

  .img-topo {
    font-size: 15vh;
  }

  .credential-box {
    background-color: transparent;
  }

  .item {
    background-color: transparent;
    color: black;
  }

  .register {
    margin-top: 2vh;
    width: 100%;

    ion-item {
      border: 2px solid $lightblue-color;
      border-radius: 5px;
      margin-top: 5vh;
    }
  }

  .btn-prox {
    background-color: transparent;
    border: 2px solid $lightblue-color;
    border-radius: 5px;
    margin-top: 5vh;
    width: 25vh;
  }

  .btn-ant {
    background-color: transparent;
    border: 2px solid $lightblue-color;
    border-radius: 5px;
    margin-top: 5vh;
    width: 25vh;
  }

  .btn-enviar {
    background-color: transparent;
    border: 2px solid $lightblue-color;
    border-radius: 5px;
    margin-top: 5vh;
    width: 25vh;
  }

  .last-item {
    border: 2px solid $lightblue-color;
    border-radius: 5px;
    height: 20vh;
    width: 100%;

    .iradio {
      float: left;
      width: 20vh;
    }

    .eradio {
      float: right;
      width: 20vh;
    }
  }

  .last-item2 {
    border: 2px solid $lightblue-color;
    border-radius: 5px;
  }

  ion-radio {
    border: 2px solid $lightblue-color;
    border-radius: 5px;
  }
}
