page-list-activity {
    ion-select{
        max-width: 100%;
    }
    .hospital_text{
        color: #757575;
    }
    ion-content{
        background-color: #72a4d5;
    }
    background-color: #72a4d5;


}
