page-activity-list {

    .scroll-content{
        overflow: hidden;
    }
    
    .title {
        font-weight: bolder;
    }
    
    .btnBack {
        align-content: center;
        color: #fff;
    }

    .btnParticipate {
        align-content: center;
    }

}
