page-profile {

  $color-orange: #ff5300;
  $lightblue-color:  #0565c0;
  $light-color: #f4f4f4;

  // .scroll-content{
  //     overflow: hidden;
  // }

  .fields{
    font-size: 12px;
    font-family: arial;
    margin-bottom: 0px;
  }

  .input{
    background-color: $light-color;
    border: 0.5px solid black;
    border-radius: 5px;
  }

  .date{
    background-color: $light-color;
    border: 0.5px solid black;
    border-radius: 5px;
  }

  // .item-md ion-avatar img {
  //   border: .4vh solid $lightblue-color;
  //   border-radius: 50%;
  //   display: block;
  //   height: 25vh;
  //   margin-bottom: 3vh;
  //   margin-left: auto;
  //   margin-right: auto;
  //   margin-top: 0;
  //   overflow: hidden;
  //   position: relative;
  //   width: 25vh;
  // }

  .profile {
    border: 1px solid $lightblue-color;
    height: 300px;
  }

  h1{
    border-bottom: 1px solid $lightblue-color;
    position: relative;
    width: auto;
  }

  h2{
    padding: 5px;
    position: relative;
  }

  .button {
    width: 120px;
  }

  .editProfile{
    float: left;
    padding-left: 20px
  }

  // .editPassword{
  //   position: relative;
  //   right: 0px;
  // }
  .delete-btn {
    background-color: $color-orange;
    display: block;
    margin: auto;
  }

  
}
