page-news{
  .item-news{
    background-color: #FFF;
    margin-top: 15px;
    border-top: 0.4px groove #084887;
    //border-bottom: 0.4px groove #084887;
  }
  .title{
    text-align: left;
    margin-bottom: 5px;
  }
  .icon-info{
    float: left;
    margin-right: 8px;
    margin-top: 3px;
  }
}
