<ion-content padding class="body">
  <ion-slides pager="true" (ionSlideReachEnd)="slideShow()">
    <ion-slide *ngFor ="let slide of slider">
      <img class="imagem" [src]="slide.image"/>
      <h2 class="titulo" [innerHTML]="slide.title"></h2>
      <p class="texto" [innerHTML]="slide.description"></p>
        <div class="hidden" *ngIf="hide">
          <button ion-button (click)="btnEntrar()">
            ENTRAR
          </button>
        </div>
    </ion-slide>
  </ion-slides>
</ion-content>
