page-welcome{

    .body .scroll-content{
      overflow: hidden;
    }

    .body{
      background-color: #084887;
      opacity: 10%;
    }

    .imagem{
      max-height: 55vh;
      border: 3px solid #e3ecf5;
    }

    .titulo{
      color: white;
    }

    .texto{
      color: white;
      text-align: center;
      margin: 1vh;
    }

    .hidden{
      bottom: 4vh;
      align-content: center;
    }

    .button{
      background-color: #ff6605;
    }
}
