page-welcome{
    .body{
        background-color: #0D68A3;
        font-family: "Open Sans";
    }

    .div-logo{
        top: 20%;
        .logo{
            position: absolute;
            display: block;
            margin: 0 auto;
            top: 20%;
            left: 35.5%
        }
    }
    
    #paragraph{
        position: absolute;
        color: white;
        font-family: "Open Sans";
        text-justify: auto;
        top: 35%;
        left: 20%
    }

    .div-icon{
        text-align: center;
        .icon{
            color: white;
            position: absolute;
            top: 40%;
            left: 40%;
            font-size: 600%;
        }
    }

    .div-btn{
        text-align: center;

        .btn{
            position: absolute;
            top: 52%;
            left: 34.5%;
            background-color: orangered;
        }
    }
}
