page-welcome{
    
    $color-blue: #084887;
    $color-white: #e3ecf5;
    $color-orange: #FF5300;

    .scroll-content{
      overflow: hidden;
    }

    .body{
      background-color: $color-blue;
      opacity: 10%;
    }

    .imagem{
      border: 3px solid $color-white;
      max-height: 55vh;
    }

    .titulo{
      color: white;
    }

    .texto{
      color: white;
      margin: 1vh;      
      text-align: center;
    }

    .hidden{
      align-content: center;
      bottom: 4vh;
    }

    .button{
      background-color: $color-orange;
    }
}